{% extends 'exam/base.html' %}
{% load static %}

{% block selfLink %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/inputs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'register/css/style.css' %}">

{% endblock selfLink %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <div class="box center-items">
        <img src="{% static 'register/icon/forgot.svg' %}" alt="forgot password" draggable="false">

        <form action="post" class="center-items">
            {% csrf_token %}
             
            <div class="input">
                <input type="email" name="email" maxlength="254" required>
                <p class="placeholder">Email</p>
            </div>

            <button>Reset My Password</button>
        </form>
    </div>

{% endblock %}

{% block selfScript %}

    <script type="text/javascript" src="{% static 'script/password.js' %}"></script>
    <script type="text/javascript" src="{% static 'script/add_exam/app.js' %}"></script>

{% endblock selfScript %}