{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Title{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
</head>

<body>
    <header>
        <nav class="center-items">
            <div class="links center-items">
              <svg class="open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">                
                  <rect class="menu-item" x="0" y="10"/>
                  <rect class="menu-item" x="0" y="44"/>
                  <rect class="menu-item" x="0" y="77"/>
              </svg>

                <a href="{% url 'exam:index' %}">Home</a>
                <a href="{% url 'exam:add_name' %}">Make an exam</a>
                <a href="{% url 'exam:exam_list' %}">Exams</a>
            </div>


            <div class="user center-items">
                {% if user.is_authenticated %}

                  <a href="{% url 'register_login:logout' %}">LogOut</a>

                {% else %}

                  <a href="{% url 'register_login:login' %}">Login</a>

                {% endif %}
            </div>

        </nav>
    </header>

    <aside class="menu">
        <a href="{% url 'exam:index' %}">Home</a>
        <a href="{% url 'exam:add_name' %}">Make an exam</a>
        <a href="{% url 'exam:exam_list' %}">Exams</a>
    </aside>

    <div id="prevent"></div>
        
    <main>
        {% block content %}

            <!-- <h2>Exam Online System</h2> -->

        {% endblock content %}
    </main>

    <script type="text/javascript" src="{% static 'script/app.js' %}"></script>
</body>

</html>