@media screen and (max-width: 640px) {
    main {
        padding: 40px 0;
    }
    
    main > form > * {
        width: 80% !important;
    }

    .control {
        justify-content: space-between;
        gap: 0;
    }

    .control * {
        width: 45%;
    }
}